@font-face {
   font-family: 'bpg_extrasquare_mtavruli_2009';
   font-display: swap;
   src: url('bpg_extrasquare_mtavruli_2009/font.ttf');
}
@font-face {
   font-family: 'bpg_square_2009';
   font-display: swap;
   src: url('bpg_square_2009/font.ttf');
}
