@font-face {
   font-family: 'bpg_extrasquare_mtavruli_2009';
   font-display: swap;
   src: url('file:///C:/Users/Professional/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-17_204739/fonts/bpg_extrasquare_mtavruli_2009/font.ttf');
}
